.idea/
nbproject/
composer.phar
composer.lock
.DS_STORE
cache.properties
.php_cs.cache
.vscode
.phpunit.result.cache
.phpunit.cache/
phpunit.xml.bak
package-lock.json

# keys
*.pem
*.key
*.ppk
*.p12
*.pfx
*.crt
*.cer
*.der

vendor/
build/
node_modules/

.env
public/.env

env.php
config/env.php

#!public/assets/
#public/assets/*
#!public/assets/.htaccess

!tmp/
tmp/*
!tmp/.htaccess

!tmp/translations/
tmp/translations/*
!tmp/translations/empty

!tmp/assets/
tmp/assets/*
!tmp/assets/empty

!tmp/twig/
tmp/twig/*
!tmp/twig/empty

!tmp/routes/
tmp/routes/*
!tmp/routes/empty

!logs/
logs/*
!logs/.htaccess

!public/assets/
public/assets/*
!public/assets/.htaccess

