.idea/
nbproject/
composer.phar
composer.lock
.DS_STORE
cache.properties
.php_cs.cache
.vscode

.env
public/.env

env.php
config/env.php

vendor/
build/
node_modules/

!public/cache/
public/cache/*
!public/cache/.htaccess

!tmp/
tmp/*
!tmp/.htaccess