.idea/
nbproject/
composer.phar
composer.lock
.DS_STORE
cache.properties
.php_cs.cache
.vscode
.phpunit.result.cache

vendor/
build/
node_modules/

.env
public/.env

env.php
config/env.php

#!public/assets/
#public/assets/*
#!public/assets/.htaccess

!tmp/
tmp/*
!tmp/.htaccess

!tmp/locale-cache/
tmp/locale-cache/*
!tmp/locale-cache/empty

!tmp/twig-cache/
tmp/twig-cache/*
!tmp/twig-cache/empty

!logs/
logs/*
!logs/.htaccess
