parameters:
	reportUnmatchedIgnoredErrors: false
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '/expects stdClass, object given/'
		- '/Cannot access offset [0-1]+ on (.*)callable/'
		- '/PHPDoc tag @throws with type Interop\\Container\\Exception\\ContainerException is not subtype of Throwable/'
		- '/PHPDoc tag @throws with type Psr\Container\ContainerExceptionInterface|ReflectionException is not subtype of Throwable/'
		- '/Method (.*)Command::configure\(\) has no return typehint specified/'
