---
---

@import "{{ site.theme }}";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #24292e;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  font-style: normal;
  color: #0366d6
}

.main-content h1,.main-content h2,.main-content h3,.main-content h4,.main-content h5,.main-content h6 {
  color: #0366d6;
}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #0366d6;
  background-image: linear-gradient(120deg, #155799, #0366d6);
}

.project-name {
   color: #fff;
 }

.project-tagline {
  color: #fff;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #0366d6;
}

.main-content .highlight pre,.main-content pre {
  border-radius: 0rem
}

a {
  color: #0366d6;
  text-decoration: none
}

a:hover, a:focus {
  color: #0366d6;
  text-decoration: underline;
}

.main-content pre {
  background-color: #eff0f1;
  border: solid 0px;
  border-radius: unset;
}

.main-content code {
  color: #24292e;
}

.main-content pre>code {
  color: #24292e;
}