<div class="row">
    <div class="col-sm">
        {% for message in flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}

        {% for message in flashbag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    </div>
</div>
