html {
    /* make the scrollbar always visible and only active when needed */
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    background-color: #f9fafa;
    /* to make the container go all the way to the bottom of the topbar */
    padding-top: 5rem;
}

/* Flat design */
.btn {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}
