<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <base href="{{ base_url }}"/>
        <link rel="shortcut icon" href="icons/favicon.ico">
        <title>Slim 4 Skeleton App</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css" media="all"/>
        {{ assets({files: [
            '@public/js/jquery.min.js',
            '@public/js/popper.min.js',
            '@public/js/tooltip.min.js',
            '@public/js/bootstrap.min.js'
        ], name: 'jquery-bootstrap.js'}) }}
        {{ assets({files: [
            'Layout/layout.css',
            'Layout/print.css'
        ], name: 'layout.css'}) }}
    </head>
    <body>
        <!-- Navbar -->

        {% block content %}{% endblock %}

        {% block assets %}{% endblock %}
    </body>
</html>
